<!DOCTYPE html>
<html lang="en">
  <%- include('layout/head.ejs') %>
  <body>
    <%- include('layout/header.ejs') %>

    <div class="main">
      <h1>World Total Statistics</h1>
      <br>
      <div class="stats">
        <div class="card">
          <h2>Total Confirmed: <%= data.TotalConfirmed%></h2>
        </div>
        <div class="card">
          <h2>Total Deaths: <%= data.TotalDeaths%></h2>
        </div>
        <div class="card">
          <h2>Total Recovered: <%= data.TotalRecovered%></h2>
        </div>
      </div>
      <br>
      <hr>
      <h1>Get Statistics for a specific country</h1>
      <form action="/getCountryResult" method="GET">
        <input type="text" name="country" placeholder="Add country name">
        <input type="date" name="start" >
        <input type="date" name="end" >
        <input type="submit" value="SEARCH">
      </form>
    </div>

    <%- include('layout/footer.ejs') %>
  </body>
</html>
